*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.main{
    display: flex;
}
.big{
    width: 55%;
    margin-left: 2rem;
}
.small{
    width: 40%;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
}
h1{
    text-transform: uppercase;
    text-align: center;
}
.profile{
    height: 10rem;
    width: 10rem;
    border: 1px solid red;
    border-radius: 100rem;
    margin-left: 1rem;
}
h3{
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-top: .5rem;
}
h4{
    font-size: 1.5rem;
    font-weight: 100;
}
.line{
    width: 100%;
    border: 1px dashed rgba(128, 128, 128, 0.541);
}
p{
    font-weight: 400;
    font-size: 1.1rem;
}
h5{
    font-size: 1.2rem;
}
.skill{
    display: flex;
}
table{
    margin: 1rem;
    float: left;
}
td{
    margin-top: .5rem;
    padding: 0.5rem;
}
a{
    text-decoration: none;
}
li{
    padding: 0.5rem;
}
.net{
    display: table;
    margin-top: 2rem;
}
i{
    margin: 1rem;
}

@media(max-width:720px){
html{
    font-size: 55%;
}


    body{
    font-size: 45%;
}
h1{
    font-size: 1rem;
}
}

@media(max-width:550px){
    .main{
        display: block;
        
    }
    small{
        float: left;
    }
    h1{
        font-size: 1rem;
    }
}
.skill{
    display: flex;
    flex-direction: column;
}
@media(max-width:400px){
.small{
        float: left;
    } 
    .big{
        width: 80vw;
    }
    h1{
        font-size: 1rem;
    }
}
